body {
    margin: 0;
}

h1 {
    font-family: Inter;
    /* font-size: 40px; */
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: sticky;
    background-color: #D0D0D0;
    border: 1px solid #000;
}

.button {
    justify-content: space-around;
    display: block;
    flex-flow: row-reverse wrap;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: black;
    background-color: white;
    border: 1px solid #000;
    transition: color ease 200ms, background ease 200ms ;
    height: 4rem;
    width: 12rem;
}

.button:hover {
    color: white;
    background-color: rgb(168, 167, 187);
}

.link-cards {
    display: block;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
    height: 169px;
    width: 274px;
    padding-bottom: 50px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 40px 0;
}

.cards-work {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
}

.cards-links {
    text-decoration: none;
    text-align: end;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #C8C2C2;
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #000;
}

#sale {
    color: #E30000;
    text-shadow: 0px 4px 5px #FFD712;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
}

#details {
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: 3em;
    background-color: #E2E2E2;
    border: 5px solid #000;
}

#title {
    width: 17rem;
}

#email {
    align-content: center;
}

#hero {
    width:100%;
}