@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Inter;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.bor-bot img{
    border-bottom: 2px solid black;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8e8e8e;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

h3 {
    text-decoration: underline solid black;
}

.page-content h2 {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer input{
    padding: 1rem;
    margin: 0;
}

.shadow {
    box-shadow: 0px 3px 2px #636363;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: sticky;
    background-color: #D0D0D0;
    border: 1px solid #000;
}

.page-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.page-content h3,p {
    margin: 0;
}

.button {
    justify-content: space-around;
    display: block;
    flex-flow: row-reverse wrap;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: black;
    background-color: white;
    border: 1px solid #000;
    transition: color ease 200ms, background ease 200ms ;
    height: 4rem;
    width: 10rem;
}

.button:hover {
    color: white;
    background-color: rgb(168, 167, 187);
}

.link-cards {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: column nowrap;
    width: 274px;
    border: 2px solid black;
    border-radius: 32px;
    margin: 40px 0;
    padding-bottom: 1rem;
}

.link-cards > img {
    height: 169px;
    width: 274px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.link-cards h3, p {
    margin-top: 0.25rem;
}

.ent-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.big-image {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    width: 83%;
    margin: 1rem auto;
}

.big-image img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-height: 584px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.big-image h3 {
    margin-top: 1rem;
    margin-left: 2rem;
}

.big-image p {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.cards-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards-links {
    text-decoration: none;
    align-content:space-between;
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    background: transparent;
}

.cards-work > .link-cards{
    padding-bottom: 0;
}

.split-cards {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.split-cards img {
    max-height: 400px;
    max-width: 264px;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px 0px 30px 30px;
}

.split-text-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.split-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
    max-width: 438px;
    height: 100%;
    max-height: 100px;
    text-align: left;
    padding: 1em;
    padding-top: 4em;
    padding-bottom: 4em;
    color: #000;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

.split-text-righty {
    align-self: flex-end;
    border-radius: 15px 0px 0px 15px;
}

.split-text-boxes .split-text-righty:last-of-type {
    margin-left: 1em;
}

.split-text > p {
    font-size: 25px;
    font-weight: 400;
}

.split-text > h3 {
    font-size: 30px;
    font-weight: 700;
}

.side-card {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 2em auto;
    padding: 0;
    width: 70%;
}

.side-card img {
    max-width: 521px;
    max-height: 439px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.side-text {
    color: #000;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    margin: 2em;
    margin-left: 3em;
    text-align: left;
    max-width: 20em;
}

 .side-text h3 {
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline solid black;
    margin-top: 10px;
}

.side-text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
} 

.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 8px #000;
}

.page-header {
    background-color: #F2F2F2;
    border: 1px solid black;
    padding-bottom: 2rem;
    margin: 2rem 0;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #C8C2C2;
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #000;
}

#sale {
    color: #E30000;
    text-shadow: 0px 4px 5px #FFD712;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 160px;
    margin-bottom: 40px;
}

#details {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 2em 3em 1.5em;
    background-color: #E2E2E2;
    border: 5px solid #000;
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    text-decoration: none;
}

#title {
    width: 19rem;
}

#email {
    align-content: space-between;
}

#hero-image {
    width:100%;
    position: relative;
    z-index: 5;
}

#blur {
    filter: blur(2px);
}

#side-card-right {
    flex-direction: row-reverse;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 30px;
}

#side-card-right .side-text{
    margin-right: 7em;
}

#stretch {
    height: 400px;
    border-radius: 30px 30px 30px 0px;
}

.card-stretch img{
    height: 190px;
}

#big-stretch {
    height: 210px;
}

#yin-yang-kinda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0;
}